<!DOCTYPE html>
<html>
<body>

<h2>Owner Forms</h2>

<form action="/api/saveOwner" method = "post" enctype="multipart/form-data">
 <div>
   <input type="file" id="file" name="visitorImage" multiple>
 </div><br/>
   Type:<br>
  <input type="text" name="type" value="">
  <br>
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br>
  Flat Number:<br>
  <input type="text" name="flatnumber" value="">
  <br>
  Phone Number:<br>
  <input type="number" name="Phone" value="">
  <br>
  IDENTITY TYPE:<br>
  <input type="text" name="Identity" value="">
  <br/>
  IDENTITY NUMBER:<br>
  <input type="text" name="IdentityNumber" value="">
  <br/>
  <input type="submit" value="Submit">
</form> 


</body>
</html>