<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/api/visitorManagement" method = "post" enctype="multipart/form-data">
 <div>
   <input type="file" id="file" name="visitorImage" multiple>
 </div><br/>
  Type:<br>
  <input type="text" name="type" value="">
  <br>
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br>
  Phone Number:<br>
  <input type="number" name="Phone" value="">
  <br>
  IDENTITY TYPE:<br>
  <input type="text" name="Identity" value="">
  <br/>
  IDENTITY NUMBER:<br>
  <input type="text" name="IdentityNumber" value="">
  <br/>
  Source:<br>
  <input type="text" name="Source" value="">
  <br>
  Destination:<br>
  <input type="text" name="Destination" value="">
  <br>
  Visiting:<br>
  <input type="text" name="VisitingTo" value="">
  <br/>
  In Date:<br>
  <input type="text" name="In_Date" value="">
  <br/>
  In Time:<br>
  <input type="text" name="In_Time" value="">
  <br/>
  <input type="submit" value="Submit">
</form> 


</body>
</html>